# Set the default behavior, in case people do not have core.autocrlf set.
* -text
*.smw -text

# Declare files that are text files
.gitattributes text
.gitignore text
*.md text

# Denote all files that are truly binary and should not be modified
*.vtp binary
*.zip binary
*.vtz binary

# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain